html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
body {
    font-size: large;
    background-color: whitesmoke;
}
#main-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
}
#main-content button {
    margin: 2px;
}
.card {
    padding: 10px;
}
.card-title {
    padding-inline: 10px;
}